{% extends "base.html" %}

{% block title %}
Bitcoin pricing
{% endblock %}

{% block styles %}
    {{super()}}


<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  
  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/themefisher-font.v-2/style.css')}}">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/dist/css/bootstrap.min.css')}}">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/slick-carousel/slick/slick.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/slick-carousel/slick/slick-theme.css')}}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">  

  {% endblock %}

  {% block app_content %}

 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class="preloader">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div> 
  <!--
  End Preloader
  ==================================== -->
<!--
Fixed Navigation
==================================== -->


<section class="page-wrapper section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Frequently Asked Questions</h2>
				<p>Bitcoin here will help you in your buying and selling options and we are happy to hear from you.</p>
				<p>bitcoin-admin@gmail.com</p>
			</div>
			<div class="col-md-8">
				<h4>Order Status</h4>
				<p>Your order status can be checked by entering your bitcoin reference key in the Buy/Sell menu and don't lose the key to open the bitcoin.</p>
				<h4>Shipping & Delivery</h4>
				<p>Standard delivery frame is 3-5 business days. But if it doesn't happen so email us to know the status at bitcoin-admin@gmail.com.</p>
				<h4>Payments</h4>
				<p>Payemnts related queries can be sent to bitcoin-payments@gmail.com. Payment are through secure gateway and if case of failure they will be recredited to your account in 3-5 business days.</p>
				<h4>Returns & Exchanges</h4>
				<p>As per return policy it takes about 15 days for the returned bitcoin and exchanges are quicker as they get completed in about a week. An email will be sent to you once the return/exchange is approved.</p>
				<h4>Privacy Policy</h4>
				<p>This is entirely at the discretion of the user and as bitcoins are legal tender there are no any compensations from our side in case of any issues. Pay attention to the required things to ensure a good deal.</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}