{% extends "base.html" %}

{% block title %}
Bitcoin pricing
{% endblock %}

{% block styles %}
    {{super()}}

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  
  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/themefisher-font.v-2/style.css')}}">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/dist/css/bootstrap.min.css')}}">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/slick-carousel/slick/slick.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/slick-carousel/slick/slick-theme.css')}}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  

  {% endblock %}

  {% block app_content %}
 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class="preloader">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div> 
  <!--
  End Preloader
  ==================================== -->


  

<!--
Fixed Navigation
==================================== -->
<section class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="currency-status">
                    <li>
                        <a href="#">
                            <i class="tf-ion-arrow-down-b down-status"></i>
                            <span>ETH/USD</span>
                            <span>55076.98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup up-status"></i>
                            <span>SOL/USD</span>
                            <span >914.2647</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup up-status"></i>
                            <span>CRD/USD</span>
                            <span>5424.6765</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup up-status"></i>
                            <span>DGE/USD</span>
                            <span>345.4560</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup down-status"></i>
                            <span>KYU/USD</span>
                            <span>4231.7656</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup down-status"></i>
                            <span>GHT/USD</span>
                            <span>45.7624</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="tf-arrow-dropup up-status"></i>
                            <span>ZWE/USD</span>
                            <span>5.5435</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Start Pricing section
		=========================================== -->
<section class="pricing-table section" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Easy Pricing</h4>
                    <h2>Pricing.</h2>
                    <span class="border"></span>
                    <p>The prices here are simple and easy to get hold of your bitcoin today!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="nav nav-pills mb-6 pricing-tab justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Sell</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Obtain 0.112 SOL</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$796</span>
                                            <span class="sup">67</span>
                                        </div>
                                        <div class="progress" data-percent="45%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.94769 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Obtain 0.345 ETH</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$345</span>
                                            <span class="sup">25</span>
                                        </div>
                                        <div class="progress" data-percent="60%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.0784597 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Obtain 0.215 CRD</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$134</span>
                                            <span class="sup">05</span>
                                        </div>
                                        <div class="progress" data-percent="75%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.0472189 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Sell 0.222 SOL</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$796</span>
                                            <span class="sup">67</span>
                                        </div>
                                        <div class="progress" data-percent="45%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.0821583 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Sell</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Sell 0.543 ETH</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$365</span>
                                            <span class="sup">56</span>
                                        </div>
                                        <div class="progress" data-percent="60%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.0148391 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Sell</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>Sell 0.271 CRD</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>$765</span>
                                            <span class="sup">63</span>
                                        </div>
                                        <div class="progress" data-percent="75%">
                                            <div class="progress-bar"></div>
                                        </div>
                                        <p>Get 0.1538289 Bitcoins</p>
                                        <a class="btn btn-main" href="#">Sell</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="custom-pricing text-center mt-30">
                    <p>The price refreshed every 15 seconds</p>
                    <p><a href="">How is the price calculated ?</a></p>
                </div>
            </div>
        </div>
        <form class="custom-pricing-form">
            <h3 class="text-center">Enter your custom amount:</h3>
            <div class="form-row justify-content-center">
                <div class="col-md-4">
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="BTC">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control mb-2" id="inlineFormInput2" placeholder="USD">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-main mb-2">Buy</button>
                </div>
            </div>
        </form>
    </div> <!-- End container -->
</section> <!-- End section -->

    {% endblock %}